body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 20px;
    font
}

.welcomeheadding{
    display: flex;
    margin-top: 50px;
   
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 150%;
}
h2{
    font-family: 'Times New Roman', Times, serif;
}
.heddingh3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: bisque;
    border: 5px yellowgreen solid;
    padding: 0%;
    margin: 0%;
    width: 30%;
    text-align: center;
}
.orange-color{
    color:aqua
}
.welcome-half-width{
    width: 50%;
    padding: 5px;

}
.dream-half-weidth{
    width: 40%;
    padding-left: 200px;
}
p{
    background-color:lightblue;
    border: lightsalmon 5px solid;
    border-radius: 5px;
    opacity: 0.9;
    
}
.design-hire-me{
text-decoration: dotted;
background-image: linear-gradient(purple,red);
padding: 2% 2%;
font-weight: 800;
text-decoration-color: blanchedalmond;
color: beige;
}
#design-image{
    
    padding-left: 90px;

}
.Dream-heading{
    display: flex;
    padding: 10px;
    margin-top: 50px;
}
.width-dream{
    padding-top: 10%;
    text-justify: auto;
    text-align: justify;
}
#h2-design{
    background-color: brown;
    padding: 0%;
    margin: 0%;
    width: 20%;
    gin-left: 10px;

}
.design-h3{
    width: 70%;
    border: 10px pink solid;
    text-align: center;
}
.design-resume{
background-color: red;
padding: 10px 10px;
}

.ex-table1{
    border: 8px solid red;
    padding: 5px;
    width: 40%;
}
.ex-table2{
    border: 8px yellowgreen solid;
    padding: 10px;
    width: 50%;
    margin-left: 50px;


}
#footer{
    text-align: center;
    padding-top: 50px;
    color: brown;
}